*{
	margin:0 auto;
}
a:hover{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color: #333;
	text-transform: capitalize;
	margin-bottom: 25px;
}

section.section-padding {
    padding: 80px 0;
}
